{% load static %}
<!DOCTYPE html>

<html lang="">
<head>
<title>Aboutus</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static '/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul>
        <h1><p>Event Planning Is Hard.</p>
                           <p>WE CAN HELP YOU</p></h1>
        <li><i class="fa fa-envelope-o">eventmanagement521@gmail.com</i></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="#">EVENTMANAGEMENT</a></h1>
      <p>Project-521</p>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong>J.Hemanth</strong><br>
          190030641</li>
          <li><strong>K.Bharat</strong><br>
         190030675 </li>
        <li><strong>K.Harsha</strong><br>
          190030715</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
     
      
          
      <li><a href="index.html">Home</a></li>
      <li><a href="events">Events</a></li>
      <li><a href="gallery">Gallery</a></li>
      <li class="active"><a href="aboutus">AboutUs</a></li>
        
      
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <figure class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <figcaption class="sectiontitle">
      <h6 class="heading">Our Team</h6>
      
   <p><h2>Spark is a full service event management firm based in Calgary, Alberta that was created by pairing together our passion for business and events. We bring a fresh, unique approach to the event management industry.
Our team understands that a properly executed event can be leveraged to support an organization’s strategic vision, incorporated into a company’s marketing plan,
or used to build networks and client loyalty.</h2></p><br>
    <!-- ################################################################################################ -->


    <strong><p>“
Working with the team at Spark has elevated a one-day event into a successful two-day summit. Their expertise shines through when it comes to program development, speaker fulfillment, tradeshow management, sponsorship, marketing, and overall customer service. Spark’s professionalism and leadership has transformed the planning and execution of our events into a seamless experience.
— Wayne Morishita, Executive Director, Alberta Energy Efficiency Alliance</p></strong>
  </figure>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">About Us</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          KLU,vadeswarem,guntur
          </address>
        </li>
        <li><i class="fa fa-phone"></i> 999999999</li>
       
        <li><i class="fa fa-envelope-o"></i> eventmanagement521@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Quires</h6>
      
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <input class="btmspace-15" type="text" value="" placeholder="Quire">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
   
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; Spark EventManagement<a href="#"> KLU </a></p>
   
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static '/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static '/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static '/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>